@import url('https://fonts.googleapis.com/css2?family=Karla&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');

*{
    outline: none;border: none;
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .75);
}
$color1 :  rgb(120, 120, 240);
$color2 : rgb(225, 225, 225);
$color3 : rgb(53, 52, 129);
$h1Col : rgba(200, 200, 255, .8);
$formCol : rgba(0, 0, 0, .5);

.content{
    .flex{display: flex;justify-content: center;align-items: center;}
    width: 1536px;
    height: 722px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'ABeeZee';
    & > *{
        outline: 15px solid $color3 ;
        box-shadow: 0 0 25px 15px rgba(0, 0, 0, .75);
    }
    .form-cont{
        background-color: $formCol;
        color: $h1Col;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .db{
            border-style: solid;
            border-color: $color3;
            border-width: 2px;
            flex: 1;
            position: relative;
            h1{
                text-align: center;
                font-size: 18px;
                letter-spacing: 1.2px;
            }
            h2{
                font-family: 'Josefin Sans', sans-serif;
                padding: 15px 0 0px 15px;
                text-indent: 15px;
                height: 35%;
            }
            .fdiv{
                width: 100%;
                height: 65%;
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color2;
                    padding: 0px 0 0px 0;
                    font-size: 22px;
                    font-weight: bold;
                    padding: 5px;
                    width: 93.5%;
                    margin: auto auto;
                    margin-top: 10px;
                }
                input[type=text]{
                    width: 60px;
                    height: 25px;
                    border-radius: 0;
                    margin-right: 5px;
                    padding: 15px 0;
                    font-family: 'ABeeZee';
                    text-align: center;
                    border: 2px solid $color1;
                    font-size: 20px;
                    background: rgba(0, 0, 0,.85);
                    color: white;
                }
                ::placeholder {
                    color: white;
                }
            }
        }
        .db:first-child{
            border-bottom-width: 15px;
            flex: .75;
        }
        .db:last-child{
            border-width: 15px 0 0 0 ;
            flex: .75;
        }
        .forms{
            color: white;
            & > *{
                text-align: center;
                padding: 10px 0;
                border: 2px solid $color1;
                background: rgba(0, 0, 0,.85);
                font-size: 18px;
                transition: 
                150ms opacity ease-in-out,
                250ms box-shadow ease-in;
                cursor: pointer;
                flex: 1;
                margin: 15px;
                opacity: .25;
            }
            & > *:hover{
                opacity: .75;
            }
            .selected{
                opacity: 1;
            }
        }
        button{
            border: 2px solid $color1;
            font-size: 20px;
            background: rgba(0, 0, 0,.45);
            color: white;
            padding: 10px 30px;
            font-family: 'ABeeZee';
            cursor: pointer;
            transition: 250ms background-color ease-in-out;
        }
        button:hover{
            background-color: $color1;
        }
        [class^=col]{
            border: 3px solid $color3;
            margin: 9px;
            margin-top: 8px;
            border-radius: 20%;
            height: 35px;
            width: 35px;
            cursor: pointer;
            opacity: .25;
            transition: 
            500ms flex ease;
            flex: 1;
        }
        [class^=col]:hover{
            opacity: .75;
        }
        .chosed{
            opacity: 1;
            flex: 2;
        }
        .ol1{background-color: hsl(0, 0%, 0%)}
        .col2{background-color: hsl(0, 100%, 50%)}
        .col3{background-color: hsl(30, 100%, 50%)}
        .col4{background-color: hsl(60, 100%, 50%)}
        .col5{background-color: hsl(120, 100%, 50%)}
        .col6{background-color: hsl(210, 100%, 50%)}
        .col7{background-color: hsl(270, 100%, 50%)}
        .col8{background-color: hsl(315, 100%, 50%)}
        .col9{
            cursor: pointer;
            background: white;
            z-index: 5;
            input{
                border: none;
                background-color: rgb(120, 120, 240);
                position: absolute;
                right: 8px;
                bottom: 3px;
                background: transparent;
                height: 40px;
                width: 40px;
                opacity: 0;
                z-index: 10;
            }
        }
        svg{
            position: absolute;
            right: 23px;
            bottom: 20px;
            z-index: -10;
            
        }
    }
    .graph-cont{
        background-color: whitesmoke;
        background-position: -.2px -.2px; 
        background-size: 25px 25px;
        background-image: 
            linear-gradient( $color1 ,#0000 3%),
            linear-gradient(90deg, $color1 ,#0000 3%);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Karla', sans-serif;
        .num{
            position: absolute;
            display: flex;
            justify-content: space-around;
            span{
                font-size: 12px;
                width: 10px;
                text-align: center;
                position: relative;
                color: black;
                font-weight: bold;
            }
            .min::before{
                content: "- ";
                position: absolute;
                left: -3.75px;
            }
        }
        #row{
            height: 450px;
            right: 46.25%;
            top: 26px;
            flex-direction: column;
        }
        #col{
            width: 450px;
            top: 46%;
            left: 26px;
        }
        svg{
            position: absolute;
            height: 12px;
        }
        #Trow{
            top: -1.5px;
            left: 47.67%;
        }
        #Tcol{
            transform: rotate(90deg);
            right: -7.6px;
            top: 48.8%;
        }
        .x, .y{
            position: absolute;
            font-family: 'Syne Mono', monospace;
            font-size: 20px;
            font-weight: bold;
        }
        .x{
            right: 7px;
            top: 50%;
        }
        .y{
            top: -1px;
            right: 51.5%;
        }
    }
}
