@import url('https://fonts.googleapis.com/css2?family=Karla&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Sans+Narrow&display=swap');


*{
    outline: none;border: none;
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(35, 48, 167, 0.459);
    
    
}
$color1 :  rgb(120, 120, 240);
$color2 : rgb(225, 225, 225);
.content{
    width: 1536px;
    height: 722px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    & > *{
        outline: 5px solid $color1 ;
        box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.5);
    }
    .form-cont{
        background: wheat;
        width: 500px;
        height: 500px;
        div{
            height: 85px;
            width: 90%;
            margin: auto auto;
            background-color: snow;
        }
        h1{
            text-align: center;
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 25px;
            padding: 15px 0;
            background-color: $color2;
            border-bottom: 5px solid white;
        }
        h2{
            font-family: 'Josefin Sans', sans-serif;
            background-color: slategray;
            margin: 10px;
            padding: 5px;
            background-image: linear-gradient(to right,$color1,$color1);
        }
    }
    .graph-cont{
        background-color: whitesmoke;
        background-position: -.2px -.2px; 
        background-size: 25px 25px;
        background-image: 
            linear-gradient( $color1 ,#0000 3%),
            linear-gradient(90deg, $color1 ,#0000 3%);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Karla', sans-serif;
        .num{
            position: absolute;
            display: flex;
            justify-content: space-around;
            span{
                font-size: 12px;
                width: 10px;
                text-align: center;
                position: relative;
                color: black;
                font-weight: bold;
            }
            .min::before{
                content: "- ";
                position: absolute;
                left: -3.75px;
            }
        }
        #row{
            height: 450px;
            right: 46.25%;
            top: 26px;
            flex-direction: column;
        }
        #col{
            width: 450px;
            top: 46%;
            left: 26px;
        }
        svg{
            position: absolute;
            height: 12px;
        }
        #Trow{
            top: -1.5px;
            left: 47.67%;
        }
        #Tcol{
            transform: rotate(90deg);
            right: -7.6px;
            top: 48.8%;
        }
        .x, .y{
            position: absolute;
            font-family: 'Syne Mono', monospace;
            font-size: 20px;
            font-weight: bold;
        }
        .x{
            right: 7px;
            top: 50%;
        }
        .y{
            top: -1px;
            right: 51.5%;
        }
    }

}